<div class="login-container">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h5><strong>Welcome.</strong> Please log in.</h5>
        </div>
        <div class="panel-body">
            <form id="login_form" name="frmLogin" focus-first>
                <fieldset>
                    <div class="form-group text-left">
                        <input type="text" id="login_username" autocomplete="off" class="form-control" placeholder="Username" ng-model="vm.user.userName" required autofocus>
                    </div>
                    <div class="form-group text-left">
                        <input type="password" name="password" autocomplete="off" class="form-control" placeholder="Password" ng-model="vm.user.userPassword" required>
                    </div>
                    <div class="form-group text-left has-error" ng-show="vm.status.length > 0">
                        <span class="help-block">{{vm.status}}</span>
                    </div>
                    <button ng-click="vm.login(frmLogin.$valid)" class="btn btn-info btn-block">Login</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>